* {
    margin:0;
}
:root {
    --name-and-stat: 1.125rem;
    --name-and-stat-color: hsl(229, 23%, 23%);
    --location-and-stat-name: hsl(227°, 10%, 46%);

}
body {
    display: flex;
    background-color: hsl(185, 75%, 39%);
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}
.card {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.25em;
    width: 350px;
    min-height: 380px;
    position: relative;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 10px;
    box-shadow: 13px 9px 90px hsla(229, 23%, 23%, 0.3);
}
.underline {
    width: 100%;
    background-color: darkgray;
    position: absolute;
    align-self: center;
    justify-content: center;
    bottom: 99px;
    height: 0.7px;

}
.stats {
    display: flex;
    width: 100%;
    padding-top: 7em;
    position: relative;
    left: 65px;
    top: 80px;
    text-align: center;
}
.child-2 {
    padding-left: 2.5em;
}
.child-3 {
    padding-left: 2.5em;
}
.bg-design {
    display: flex;
    justify-self: center;
    align-self: center;
    background-image: url(../images/image-victor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid white;
    border-radius: 50%;
    height: 105px;
    width: 105px;
    top: 80px;
    left: 118px;
    position: absolute;
}
.name {
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: center;
    top: 200px;
}
.location {
    position: absolute;
    top: 35px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    
}
h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: var(--name-and-stat);
    color: var(--name-and-stat-color);
}
h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: var(--name-and-stat);
    color: var(--name-and-stat-color);
}
p {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: var(--location-and-stat-name);
    font-size: 0.875rem;
}
span {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: var(--location-and-stat-name);
}
footer {
    display: block;
    position: absolute;
    text-align: center;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 3px;
}
@media (max-width: 600px) {
    body {
        min-height: 100vh;
        min-width: 100vw;
        background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
        background-repeat: no-repeat;
        background-position: right 35vw bottom 50vh, left 40vw top 45vh;
    }
    .card {
        width: 326px;
    }

}